<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>tianya_fw_webconsole</display-name>

	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<init-param>
			<param-name>db.url</param-name>
			<param-value>jdbc:h2:tcp://localhost:8043/~/sample;user=sa;password=sa</param-value>
		</init-param>
		<init-param>
			<param-name>db.user</param-name>
			<param-value>sa</param-value>
		</init-param>
		<init-param>
			<param-name>db.password</param-name>
			<param-value>sa</param-value>
		</init-param>
		<init-param>
			<param-name>db.tcpServer</param-name>
			<param-value>-tcpAllowOthers</param-value>
		</init-param>
		<init-param>
			<param-name>webAllowOthers</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>trace</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>

	<filter>
		<description>
		</description>
		<display-name>securityFilter</display-name>
		<filter-name>securityFilter</filter-name>
		<filter-class>cn.tianya.fw.webconsole.secutiry.SecurityFilter</filter-class>
		<init-param>
			<param-name>security_filter</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>security_url</param-name>
			<param-value><![CDATA[
				/login.jsp;
				/login.do;
			]]></param-value>
		</init-param>
		<init-param>
			<param-name>failure_redirect</param-name>
			<param-value><![CDATA[/login.jsp]]></param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<servlet>
		<description>
		</description>
		<display-name>mvcController</display-name>
		<servlet-name>mvcController</servlet-name>
		<servlet-class>cn.tianya.fw.webconsole.mvc.Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvcController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SystemPropertiesServlet</servlet-name>
		<servlet-class>cn.tianya.fw.properties.SystemPropertiesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>
